body{
  background-image: url(./images/fondo.jpg);
  text-align: center;
}

canvas {
  /*background-color: rgba(255,255,255,.5);
  /* align-items: center; */
}
#Space-Demons-Activated{
  display:none;
  color: red
}
