body{
  background-image: url(./images/fondo.jpg);
  text-align: center;
}

canvas {
  /*background-color: rgba(255,255,255,.5);
  /* align-items: center; */
}
#Space-Demons-Text{
  display:block;
  color: black;
}

/* #Space-Demons-Activated{
  display: inline;
  display:none;
  color: red
} */
